<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/new.css">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                Berkeley Horse Project
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/about">
                    About
                </a>
                <a class="navbar-item" href="/contact">
                    Contact
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>
                                <!-- Conditional rendering of login/logout -->
                                {{#if logged_in}}
                                <a href="/logout" id="logout">Logout</a>
                                {{else}}
                                <a href="/login">Login</a>
                                {{/if}}
                            </strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        {{#if logged_in}}
        <a class="button is-primary" href="/card">
            Create Horse 🐴
        </a>
        {{else}}
        Log in to create horse!
        {{/if}}

        {{{body}}}
    </main>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Bulma</strong> by Berkeley Racing Club

            </p>
        </div>
        {{currentYear}}
        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="business" value="4J7E8FGLDEFM8" />
            <input type="hidden" name="no_recurring" value="0" />
            <input type="hidden" name="item_name" value="all donations will be going to horses" />
            <input type="hidden" name="currency_code" value="USD" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0"
                name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Check for click events on the navbar burger icon
            $(document).on("click", ".navbar-burger", function () {
                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");
            });
        });
    </script>
</body>

</html>