<div class="card">
    <div class="card-content">
        <p class="title">
            <a href="/horsePage/{{horseCharacter.id}}"></a>
        </p>
        <img src ="{{horse_image}}">
        <p class="subtitle">By:{{horse_name}}</p>
        <p class="subtitle">{{horse_breed}}</p>
        <p class="subtitle">{{horse_power}}</p>
        <p class="subtitle">{{horse_speed}}</p>
        <p class="subtitle">{{horse_smarts}}</p> <!-- This may need to be horse_smarts -->
        <p class="subtitle">{{horse_weight}}</p>
        <p class="subtitle">{{horse_description}}</p>
    </div>
</div>